.projects-header { 
  padding-top: 30px;
}

.more-btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-row {
  padding: 5px;
  height: 358px;
}

.more-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
} 
