.contact-btn {
    margin-bottom: 35px;
}

.about {
    padding-bottom: 0;
    padding-top: 75px;
}

.summary-card-row {
    /* margin-left: 60px; */
}

.img-smaller {
    height: 30px;
    width: 30px;
}